/.idea/.idea.Redis/.idea/.gitignore
/.idea/.idea.Redis/.idea/encodings.xml
/.idea/.idea.Redis/.idea/git_toolbox_blame.xml
/.idea/.idea.Redis/.idea/git_toolbox_prj.xml
/.idea/.idea.Redis/.idea/indexLayout.xml
/Redis.sln
/.idea/.idea.Redis/.idea/vcs.xml
