# Rider / JetBrains
.idea/
*.DotSettings.user

# Build directories
bin/
obj/

# Ignore Rider / Visual Studio files
*.suo
*.user
*.rsuser

# Ignore packages if using NuGet
packages/

# Ignore compiled files
*.exe
*.dll
*.pdb

# Ignore logs
*.log
